@import '@/styles/_variables';

.divider {
  width: 100%;
  border-width: 0.06rem;
  border-color: $gray-500;

  &.solid {
    border-style: solid;
  }
  &.dotted {
    border-style: dotted;
  }
  &.dashed {
    border-style: dashed;
  }
}
