@import '@/styles/_variables';

select {
  background: #ffffff;
  height: 40px;
  width: 100%;
  text-align: start;
  background-position: 98%;
  background-repeat: no-repeat;
  border: 1px solid #8a8c98;
  border-radius: 4px;
  padding: 0.5rem;
  padding-left: 12px;
  padding-right: 25px;
  color: #636574;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .custom-option {
    position: absolute;
    top: 20;
    left: 0;
    max-height: 20vmax;
    min-width: 100%;
    padding: 0.4rem;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 2px rgba(37, 37, 39, 0.06);
    border-radius: 4px;
    padding: 8px;
    transition: max-height 0.2s ease;
    z-index: 1;
  }
}
