@import '@/styles/_variables';

.container {
  position: relative;
  display: flex;
  min-width: 20rem;

  .selectField {
    border: 1px solid $gray-500;
    width: 100%;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
    padding: 12px 16px;
    border-radius: $border-radius;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjUgMTAuMDYwN0w3LjU2MDY2IDlMMTIuMDMwMyAxMy40Njk3TDE2LjUgOUwxNy41NjA3IDEwLjA2MDdMMTIuMDMwMyAxNS41OTFMNi41IDEwLjA2MDdaIiBmaWxsPSIjNjM2NTc0Ii8+Cjwvc3ZnPgo=);
    background-position: 99.7%;
    background-repeat: no-repeat;
    color: $black;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }

  .selectDropdown {
    position: absolute;
    top: calc(40px + 5px);
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid $gray-500;
    border-radius: $border-radius;
    z-index: 2;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($white, 20%);
      border-radius: $border-radius;
    }
    &::-webkit-scrollbar-track {
      background: $white;
      border-radius: $border-radius;
    }

    .selectOption {
      margin: 0.2rem;
      padding: 0.5rem 0.5rem;
      color: #636574;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover,
      :focus {
        background-color: #f7f7f8;
        color: $black;
      }
    }
  }
}
